article,
.comments {
  padding:0 20% 0;
  float: left;
  width: 100%;
}
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
  p {
    img {
      text-align:center;
      margin:0 auto;
    }
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.6em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    background-position:center center;
    margin-bottom: 0;
    padding: $padding-large/2.8 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.post-content {
  form {
      input[type="text"], input[type="email"] {
        width:100%;
        display: block;
        padding:0.5em;
        margin:0 0 1em;
        border-radius:6px;
        border:1px solid #cfcfcf;
        box-shadow:none;
      }
      input[type="submit"] {
        border-radius: 0.3em;
        border: 1px solid $link-color;
        color:$link-color;
        background-color:$brand-color;
        display: inline-block;
        margin: 1em 0;
        padding: 0.5em 0.75em;
        &:hover {
          background: $link-color;
          border: 1px solid $link-color;
          color: $background-color;
          text-decoration: none;
        }
      }
      textarea {
        border-radius:6px;
        padding:0.5em;
        margin:0 0 1em;
        display: block;
        width:100%;
        border:1px solid #cfcfcf;
        box-shadow:none;
      }
    }
}

#toc {
  position: fixed;
  top: 20%; /* 상단에서 약간 아래로 */
  right: 0.5%;
  width: 15%;
  max-height: 60%;
  overflow-y: auto;
  background-color: #fff; /* 배경색 */
  border: 1px solid #ddd; /* 테두리 */
  padding: 0.7%;
  padding-bottom: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 */
}

#toc ul {
  list-style: none; /* 불릿 포인트 제거 */
}

#toc li {
  margin-bottom: 5%; /* 항목 간의 간격 */
}

#toc a {
  font-size: 1vw; /* 글자 크기 줄이기 */
  color: #333; /* 글자 색상 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

#toc li > ul {
  margin-top: 3%; /* ### 태그 간의 간격 */
}

#toc li + li {
  margin-top: 3%; /* ## 태그 간의 간격 */
}

#toc a.is-active-link {
  background-color: #888888; /* 하이라이팅 배경색 */
  font-size: 0.9vw;
  color: #fff; /* 하이라이팅 시 글자색 */
}

@media (max-width: 1180px) {
  #toc {
    display: none; /* 모바일에서는 숨기기 */
  }
  article,
  .comments {
    padding: 0 5%; /* 모바일에서 좌우 여백을 줄임 */
  }
}
